header {
	background-color: @mastHeadBackgroundColor;
}

.masthead-branding-logo {
	background-image: url(@mastheadBrandLogo);
	background-repeat:no-repeat;
	height: 135px;
	width: 222px;
}

.masthead-branding-logo a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
}